@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;800;900&display=swap');

body{ font-family: 'Inter'; }


/* colors */
  .color-blue{ color: #16467d;}
  .color-black{ color: #000;}
  .color-grey{ color: #2c2c2c;}
  .color-white{ color: #fff;}
  .color-lightgray{color: #505050;}


.textdocationnone{
  text-decoration: none;
}

/* fontsizes */
.font48 {  font-size: 48px;  }
.font40 {  font-size: 40px;  }
.font18 {  font-size: 18px;  }
.font20 {  font-size: 20px;  }
.font30 {  font-size: 30px;  }
.font14 {  font-size: 14px;  }
.font16 {  font-size: 16px;  }
.font17 {  font-size: 24px;  }
.font15 {  font-size: 15px;  }


/* fontweignt */
.fw900 { font-weight:  900; }
.fw500 {  font-weight: 500; }
.fw800 {  font-weight: 800; }
.fw700 {  font-weight: 700; }
.fw400 {  font-weight: 400; }
.fw600 {  font-weight: 600; }

/* font-family */
.font-f{ font-family: 'Inter'; }

/* alignment */
.t-center{ text-align: center; }
.t-left{ text-align: left; }
.t-right{ text-align:right;}

/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.still {
  counter-reset: section;
  position: relative;
  padding-top: 70px;
}
.still h2{
  padding-bottom: 40px;
}
.testtimonials .slick-dots li button:before {
  font-size: 16px;
  
}
.faqheading.accordion-header .accordion-button{
  background-color: unset;
  font-size: 1.25rem;
  font-weight: 500;
  font-family: 'Inter';
  color: black;
}

.textbody.accordion-body{
  font-size: 1rem;
  font-family: 'Inter';
  color: black;
}

.team.accordion-item:first-of-type {
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  
}

.team.accordion-item:not(:first-of-type) {
  border-top: 0;
  border-top: 1px solid #000000;
}

.team.accordion-item:last-of-type {
  border-bottom-right-radius: unset;
  border-bottom-left-radius:  unset;
  border: 1px solid black;
}

.team.accordion-item{
  margin-top: 20px;
  border-top-left-radius:unset;
  border-top-right-radius:unset;
  border: 1px solid #000000;
}


 .part  .slick-track{
  display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    height: 90px;
}

/* .testtimonials .slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: white;
  border: none;
  outline: none;
  background: #262525;
  border-radius: 50px;
} */

.servicetitle{
  padding-top: 55px;
}



@media (max-width:1280px)  {

  .font48 {
    font-size: 35px;
}
.font17 {
  font-size: 21px;
}

}

@media (max-width:991px)  {
  .font16 {
    font-size: 13px;
}

  .font40 {
    font-size: 23px;
}
.font15 {
    font-size: 14px;
}

  .font17 {
    font-size: 15px;
}

  .font48 {
    font-size: 25px;
}
.font18 {
  font-size: 15px;
}

.bookemail {

  font-size: 13px;

}
.font30 {
  font-size: 21px;
}


}

@media (max-width:767px)  {
  .still h2 {
    padding-bottom: 0px;
}
.still .gy-5{

  --bs-gutter-y: 2rem;
}

  .faqheading.accordion-header .accordion-button {
    font-size: 1rem;
}

}
@media (max-width:480px)  {
  .faqheading.accordion-header .accordion-button {
    font-size: .8rem;
}
.textbody.accordion-body {
  font-size: .8rem;
}

}